canvas {
    position: absolute;
    top: 40px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    margin: auto;
}

body {
    margin: 0;
    padding: 0;
    background: rgb(248, 224, 180);
}

.title {
    text-align: center;
    position: relative;
    font: normal 42pt monospace;
    font-weight: bold;
    color: rgb(49, 48, 48);
    margin: 0;
    padding: 0;
}

.copy {
    font: normal 12pt monospace;
    font-weight: bold;
    text-align: center;
    top: 605px;
    position: absolute;
    left: 530px;
}

#stg {
    font: normal 42pt monospace;
    font-weight: bold;
    text-align: center;
    top: 180px;
    position: relative;
    color: rgba(37, 37, 37, 0.753);
    opacity: 0.5;
    margin: 0;
}



#button_start {
    background: rgb(248, 123, 116);
    font: normal 28pt monospace;
    text-align: center;
    position: relative;
    top: 200px;
    left: 560px;
    font-weight: bold;
    border-radius: 12px;
    border-color: black;
    cursor: pointer;
}

#button_start:hover {
    background: rgb(200, 65, 58);
}

#button_reset {
    background: rgba(158, 158, 158, 0.603);
    font: normal 16pt monospace;
    text-align: center;
    position: absolute;
    top: 400px;
    left: 610px;
    font-weight: bold;
    border-radius: 8px;
    border-color: black;
    cursor: pointer;
}

#button_reset:hover {
    background: rgba(109, 109, 109, 0.603);
}