canvas {
    position: absolute;
    top: 40px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    margin: auto;
}

body {
    margin: 0;
    padding: 0;
}

.title {
    text-align: center;
    position: relative;
    font: normal 42pt monospace;
    font-weight: bold;
    color: rgb(49, 48, 48);
    margin: 0;
    padding: 0;
}

.copy {
    font: normal 12pt monospace;
    font-weight: bold;
    text-align: center;
    top: 605px;
    position: absolute;
    left: 530px;
}

#stg {
    font: normal 42pt monospace;
    font-weight: bold;
    text-align: center;
    top: 180px;
    position: relative;
    color: rgb(129, 129, 129);
    opacity: 0.5;
    margin: 0;
}



#button_start {
    background: rgb(85, 163, 89);
    font: normal 28pt monospace;
    text-align: center;
    position: relative;
    top: 250px;
    left: 560px;
    font-weight: bold;
    border-radius: 12px;
    border-color: black;
    cursor: pointer;
}

#button_start:hover {
    background: rgb(94, 190, 99);
}
